/* Variables */
:root {
    --main-text-color-1: #34313D;
    --main-text-color-2: #3A3054;
    --main-text-color-3: #4B3F6B;
    --main-text-color-4: #9E9AA8;
    --main-text-color-5: #EFF1F7;
    --main-text-color-6: #2BD0D0;
}