/* Start Boost Section */
#boost {
    margin-top: 80px;
    background-image: url("../images/boost-bg-img.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.boost-part {
    padding: 90px 0;
}

.boost-part__title {
    margin: 0 0 16px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.7px;
    color: #FFFFFF;
}

.boost-part__link-box {
    display: flex;
    justify-content: center;
}

.boost-part__link {
    padding: 13px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: var(--main-text-color-6);
    border-radius: 28px;
    &:hover {
        background-color: #9AE3E3;
    }
}

@media only screen and (min-width:768px) {
    .boost-part__title {
        margin: 0 0 32px 0;
        font-size: 40px;
        line-height: 48px;
    }
}

/* End of Boost Section */