/* Start Footer Section */
#site-footer {
    padding: 54px 0 56px 0;
    background-color: #232127;
}

.footer-part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-part__list-box {
    text-align: center;

    &:nth-child(1) {
        margin: 49px 0 40px 0;
    }

    &:nth-child(3) {
        margin: 40px 0 48px 0;
    }
}

.footer-part__list-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
}

.footer-part__list {
    margin-top: 22px;
}

.footer-part__item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-part__list-link {
    line-height: 22px;
    letter-spacing: -0.234375px;
    color: #BFBFBF;
    transition: color .5s;

    &:hover {
        color: var(--main-text-color-6);
    }
}

.footer-part__icon-list {
    display: flex;
    align-items: center;
}

.footer-part__icon-item:not(:last-child) {
    margin-right: 24px;
}

.footer-part__link-img path {
    transition: fill .5s;
}

.footer-part__icon-link:hover .footer-part__link-img path {
    fill: var(--main-text-color-6);
}

@media only screen and (min-width:700px) {
    .footer-part {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-part__list-main-box {
        display: flex;
        align-items: start;
        margin: 40px 0;
    }

    .footer-part__list-box {
        text-align: left;

        &:nth-child(1) {
            margin: 0 90px 0 0;
        }

        &:nth-child(3) {
            margin: 0 0 0 90px;
        }
    }
}

@media only screen and (min-width:1150px) {
    .footer-part {
        align-items: start;
        justify-content: flex-start;
        flex-direction: row;
    }

    .footer-part__list-main-box {
        display: flex;
        align-items: flex-start;
        margin: 0;
    }

    .footer-part__list-box {
        text-align: left;

        &:nth-child(1) {
            margin: 0 78px 0 250px;
        }

        &:nth-child(3) {
            margin: 0 106px 0 101px;
        }
    }
}

/* End of Footer Section */