/* Start Form Section */
#form {
    position: relative;
}

.form-part {
    position: absolute;
    top: -85px;
    left: 0;
    right: 0;
    max-width: 1110px;
    margin: 0 24px;
    padding: 24px;
    background-image: url("../images/boost-bg-img.svg");
    background-repeat: no-repeat;
    border-radius: 10px;
}

.form-part__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-part__label {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 769px;
}

.form-part__input {
    width: 100%;
    max-width: 769px;
    padding: 6px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.12px;
    color: #34313D;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 3px solid transparent;
}

.form-part__input:not(:placeholder-shown):not(:focus):invalid {
    color: #F46363;
    border: 3px solid #F46363;
    border-radius: 5px;
}

.form-part__input-err {
    position: absolute;
    top: 55px;
    left: 0;
    width: 105px;
    opacity: 0;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.0818182px;
    color: #F46363;
    transition: all .5s;
}

.form-part__input:not(:placeholder-shown):not(:focus):invalid+.form-part__input-err {
    opacity: 1;
}

.form-part__btn-box {
    display: flex;
    justify-content: center;
}

.form-part__btn {
    margin-top: 38px;
    padding: 11px 63px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #2BD0D0;
    border-radius: 5px;
    border: none;
}

.form-part__btn:hover {
    background-color: #9AE3E3;
}

@media only screen and (min-width:375px) {
    .form-part__btn {
        margin-top: 38px;
        padding: 11px 91px;
    }
}

@media only screen and (min-width:750px) {
    .form-part {
        margin: 0 24px;
        padding: 52px 64px;
    }

    .form-part__form {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .form-part__label {
        position: relative;
        display: flex;
        justify-content: center;
        width: 67%;
        max-width: 769px;
    }

    .form-part__input {
        padding: 6px 16px;
        font-size: 20px;
        line-height: 36px;
    }

    .form-part__input-err {
        top: 60px;
    }

    .form-part__btn {
        margin-top: 0;
        padding: 14px 40px;
        font-size: 20px;
        line-height: 30px;
    }
}

@media only screen and (min-width:950px) {
    .form-part__label {
        width: 72%;
    }

    .form-part__input {
        padding: 14px 32px;
    }

    .form-part__btn {
        padding: 14px 40px;
    }

    .form-part__input-err {
        top: 72px;
    }
}

@media only screen and (min-width:1100px) {
    .form-part__label {
        width: 78%;
    }
}

@media only screen and (min-width:1155px) {
    .form-part {
        margin: 0 auto;
    }
}

/* End of Form Section */