/* Start Header Section */
#site-header {
    position: relative;
    padding: 40px 0 23px;
    background-color: #FFFFFF;
}

.header-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-part__nav-btn {
    background-image: url("../images/hamburger-icon.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    border: none;
    background-color: transparent;
}

.header-part__links-box {
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    max-width: 290px;
    height: auto;
    display: none;
    margin: 0 auto;
    padding: 40px 24px;
    background-color: var(--main-text-color-2);
    border-radius: 10px;
}

.header-part__links-box-on {
    display: block;
}

.site-nav {
    border-bottom: 1px solid var(--main-text-color-4);
}

.site-nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.site-nav__item {
    margin-bottom: 30px;
}

.site-nav__link,
.login-links {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.site-nav__link:hover {
    color: #ffff;
}

.login-link-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-link-box__login {
    margin: 32px 0 24px;
}

.login-link-box__signup {
    padding: 11px 80px;
    background-color: var(--main-text-color-6);
    border-radius: 28px;
}

@media only screen and (min-width:450px) {
    .header-part__links-box {
        max-width: 380px;
    }

    .login-link-box__signup {
        padding: 11px 105px;
    }
}

@media only screen and (min-width:800px) {
    #site-header {
        padding: 55px 0 30px;
    }

    .header-part {
        justify-content: flex-start;
    }

    .header-part__nav-btn {
        display: none;
    }

    .header-part__links-box {
        position: static;
        top: 0;
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
    }

    .site-nav {
        border-bottom: none;
    }

    .site-nav__list {
        flex-direction: row;
        margin-left: 45px;
    }

    .site-nav__item {
        margin-bottom: 0;
    }

    .site-nav__item:not(:last-child) {
        margin-right: 29px;
    }

    .site-nav__link,
    .login-links {
        color: var(--main-text-color-4);
    }

    .login-link-box {
        flex-direction: row;
        width: 204px;
        margin-left: auto;
    }

    .login-link-box__login {
        margin: 0 37px 0 0;
    }

    .login-link-box__signup {
        padding: 9px 23px;
        color: #FFFFFF;
        background-color: var(--main-text-color-6);
        border-radius: 28px;
    }

    .site-nav__link:hover,
    .login-links:hover {
        color: var(--main-text-color-1);
    }

    .login-link-box__signup:hover,
    .hero-part__link:hover {
        background-color: #9AE3E3;
        color: #FFFFFF;
    }
}

/* End of Header Section */