/* Start Statistics Section */
#statistics {
    padding-top: 160px;
}

.statistics-part__info-box {
    max-width: 540px;
    margin: 0 auto;
}

.statistics-part__title {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.7px;
    color: var(--main-text-color-1);
}

.statistics-part__text {
    margin: 16 0 0 0;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.109091px;
    color: var(--main-text-color-4);
}

.statistics-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 92px;

    &::before {
        position: absolute;
        top: 0px;
        left:0 ;
        right: 0;
        margin: 0 auto;
        width: 8px;
        height: 900px;
        background-color: #2BD0D0;
        content: "";
    }
}

.statistics-list__item {
    position: relative;
    max-width: 510px;
    padding: 77px 32px 41px 32px;
    background-color: #FFFFFF;
    border-radius: 5px;

    &:not(:last-child) {
        margin-bottom: 92px;
    }

    &::before {
        position: absolute;
        top: -45px;
        left: 0%;
        right: 0;
        margin: 0 auto;
        width: 88px;
        height: 88px;
        background-image: url("../images/statistics-recognition.svg");
        content: '';
    }

    &:nth-child(2)::before {
        background-image: url("../images/statistics-records.svg");
    }

    &:nth-child(3)::before {
        background-image: url("../images/statistics-customize.svg");
    }
}

.statistics-list__title {
    margin: 0 0 12px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #34313D;
}

.statistics-list__text {
    margin: 0;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: var(--main-text-color-4);
}



@media only screen and (min-width:1150px) {
    #statistics {
        padding-top: 204px;
    }

    .statistics-part__title {
        font-size: 40px;
        line-height: 48px;
    }

    .statistics-part__text {
        margin-top: 18px;
        font-size: 18px;
        line-height: 32px;
    }

    .statistics-list {
        margin-top: 56px;
        flex-direction: row;

        &::before {
            top: 58%;
            left: 0;
            width: 1110px;
            height: 8px;
        }
    }

    .statistics-list__item {
        width: 350px;

        &:not(:last-child) {
            margin: 0 30px 0 0;
        }

        &::before {
            position: absolute;
            top: -45px;
            left: 32px;
            margin: 0;
        }

        &:nth-child(2) {
            margin-top: 120px;
        }

        &:nth-child(3) {
            margin-top: 240px;
        }
    }

    .statistics-list__title,
    .statistics-list__text {
        text-align: left;
    }
}

/* End of Statistics Section */